In [0]:
import pandas as pd
import string
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn_pandas import DataFrameMapper
from xgboost import XGBClassifier
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [0]:
df = pd.read_csv('train.csv', index_col="Loan_ID")
test_df = pd.read_csv("test.csv", index_col = "Loan_ID")

In [302]:
df.head()

         Loan_Amount_Requested Length_Employed  ...  Gender  Interest_Rate
Loan_ID                                         ...
10000001                 7,000        < 1 year  ...  Female              1
10000002                30,000         4 years  ...  Female              3
10000003                24,725         7 years  ...    Male              3
10000004                16,000        < 1 year  ...    Male              3
10000005                17,000         8 years  ...  Female              1

[5 rows x 13 columns]

In [303]:
test_df.head()

         Loan_Amount_Requested Length_Employed  ... Total_Accounts  Gender
Loan_ID                                         ...
10164310                27,500       10+ years  ...             37    Male
10164311                26,000       10+ years  ...             23    Male
10164312                 6,075        < 1 year  ...             20    Male
10164313                12,000       10+ years  ...              8    Male
10164314                35,000        < 1 year  ...             21    Male

[5 rows x 12 columns]

In [304]:
df.isna().sum()

Loan_Amount_Requested          0
Length_Employed             7371
Home_Owner                 25349
Annual_Income              25102
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    88379
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
Interest_Rate                  0
dtype: int64

In [305]:
test_df.isna().sum()

Loan_Amount_Requested          0
Length_Employed             4936
Home_Owner                 16711
Annual_Income              16898
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    58859
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
dtype: int64

#### Handling missing data

In [0]:
def cleaning_data(df):
    df["Loan_Amount_Requested"] = df["Loan_Amount_Requested"].str.replace(",","")
    df["Loan_Amount_Requested"] = df["Loan_Amount_Requested"].astype(float)
    df["Length_Employed"] = df["Length_Employed"].str.replace('< 1 year','0')
    #df["Length_Employed"] = df["Length_Employed"].str.replace(r'[><+]+',"")
    #df["Length_Employed"] = df["Length_Employed"].str.extract('(\d+)').astype(float)
    #df["Length_Employed"] = df["Length_Employed"].transform(lambda x: x.fillna("NA"))
    #df["Annual_Income"] = df.groupby(["Length_Employed"])["Annual_Income"].transform(lambda x: x.fillna(x.median()))
    #df["Home_Owner"] = df["Home_Owner"].transform(lambda x: x.fillna("-1"))
    # df["Months_Since_Deliquency"] = df["Months_Since_Deliquency"].transform(lambda x: x.fillna(-1))
    return df

In [0]:
df = cleaning_data(df)
test_df = cleaning_data(test_df)

In [0]:
from scipy import stats
def normalize_data(df, test_df):
    scaler = MinMaxScaler()
    df["Loan_Amount_Requested"] = scaler.fit_transform(df[["Loan_Amount_Requested"]])
    test_df["Loan_Amount_Requested"] = scaler.transform(test_df[["Loan_Amount_Requested"]])
    # df["Length_Employed"] = scaler.fit_transform(df[["Length_Employed"]])
    # test_df["Length_Employed"] = scaler.transform(test_df[["Length_Employed"]])
    df["Annual_Income"] = scaler.fit_transform(df[["Annual_Income"]])
    test_df["Annual_Income"] = scaler.transform(test_df[["Annual_Income"]])
    df["Months_Since_Deliquency"] = scaler.fit_transform(df[["Months_Since_Deliquency"]])
    test_df["Months_Since_Deliquency"] = scaler.transform(test_df[["Months_Since_Deliquency"]])
    df["Debt_To_Income"] = scaler.fit_transform(df[["Debt_To_Income"]])
    test_df["Debt_To_Income"] = scaler.transform(test_df[["Debt_To_Income"]])
    df["Number_Open_Accounts"] = scaler.fit_transform(df[["Number_Open_Accounts"]])
    test_df["Number_Open_Accounts"] = scaler.transform(test_df[["Number_Open_Accounts"]])
    df["Total_Accounts"] = scaler.fit_transform(df[["Total_Accounts"]])
    test_df["Total_Accounts"] = scaler.transform(test_df[["Total_Accounts"]])
    df["Inquiries_Last_6Mo"] = scaler.fit_transform(df[["Inquiries_Last_6Mo"]])
    test_df["Inquiries_Last_6Mo"] = scaler.transform(test_df[["Inquiries_Last_6Mo"]])
    return df, test_df

In [0]:
original_df = df.copy()
df = df.drop(["Interest_Rate"], axis=1)

In [0]:
scaled_features_df, scaled_features_test_df = normalize_data(df, test_df)

In [311]:
scaled_features_df.head()

          Loan_Amount_Requested Length_Employed  ... Total_Accounts  Gender
Loan_ID                                          ...
10000001               0.188406               0  ...       0.077922  Female
10000002               0.855072         4 years  ...       0.142857  Female
10000003               0.702174         7 years  ...       0.090909    Male
10000004               0.449275               0  ...       0.129870    Male
10000005               0.478261         8 years  ...       0.181818  Female

[5 rows x 12 columns]

In [312]:
scaled_features_test_df.head()

          Loan_Amount_Requested Length_Employed  ... Total_Accounts  Gender
Loan_ID                                          ...
10164310               0.782609       10+ years  ...       0.227273    Male
10164311               0.739130       10+ years  ...       0.136364    Male
10164312               0.161594               0  ...       0.116883    Male
10164313               0.333333       10+ years  ...       0.038961    Male
10164314               1.000000               0  ...       0.123377    Male

[5 rows x 12 columns]

In [0]:
def label_encode(df):
    onehotlabels = pd.get_dummies(df, prefix=None, prefix_sep='_', 
                       dummy_na=True, columns=["Income_Verified","Home_Owner","Purpose_Of_Loan","Gender", "Length_Employed"], sparse=False, 
                       drop_first=False, dtype=None)
    return onehotlabels

In [0]:
scaled_features_df = label_encode(scaled_features_df)
scaled_features_test_df = label_encode(scaled_features_test_df)

In [315]:
scaled_features_df

          Loan_Amount_Requested  ...  Length_Employed_nan
Loan_ID                          ...
10000001               0.188406  ...                    0
10000002               0.855072  ...                    0
10000003               0.702174  ...                    0
10000004               0.449275  ...                    0
10000005               0.478261  ...                    0
...                         ...  ...                  ...
10164305               0.586232  ...                    0
10164306               0.159420  ...                    0
10164307               0.572464  ...                    0
10164308               0.275362  ...                    0
10164309               0.253623  ...                    0

[164309 rows x 47 columns]

In [316]:
scaled_features_test_df

          Loan_Amount_Requested  ...  Length_Employed_nan
Loan_ID                          ...
10164310               0.782609  ...                    0
10164311               0.739130  ...                    0
10164312               0.161594  ...                    0
10164313               0.333333  ...                    0
10164314               1.000000  ...                    0
...                         ...  ...                  ...
10273846               0.420290  ...                    0
10273847               0.263768  ...                    0
10273848               0.043478  ...                    0
10273849               0.047101  ...                    0
10273850               0.420290  ...                    0

[109541 rows x 47 columns]

In [0]:
X_train = scaled_features_df

In [318]:
X_train.isna().sum()

Loan_Amount_Requested                           0
Annual_Income                               25102
Debt_To_Income                                  0
Inquiries_Last_6Mo                              0
Months_Since_Deliquency                     88379
Number_Open_Accounts                            0
Total_Accounts                                  0
Income_Verified_VERIFIED - income               0
Income_Verified_VERIFIED - income source        0
Income_Verified_not verified                    0
Income_Verified_nan                             0
Home_Owner_Mortgage                             0
Home_Owner_None                                 0
Home_Owner_Other                                0
Home_Owner_Own                                  0
Home_Owner_Rent                                 0
Home_Owner_nan                                  0
Purpose_Of_Loan_car                             0
Purpose_Of_Loan_credit_card                     0
Purpose_Of_Loan_debt_consolidation              0
Purpose_Of_Loan_educational                     0
Purpose_Of_Loan_home_improvement                0
Purpose_Of_Loan_house                           0
Purpose_Of_Loan_major_purchase                  0
Purpose_Of_Loan_medical                         0
Purpose_Of_Loan_moving                          0
Purpose_Of_Loan_other                           0
Purpose_Of_Loan_renewable_energy                0
Purpose_Of_Loan_small_business                  0
Purpose_Of_Loan_vacation                        0
Purpose_Of_Loan_wedding                         0
Purpose_Of_Loan_nan                             0
Gender_Female                                   0
Gender_Male                                     0
Gender_nan                                      0
Length_Employed_0                               0
Length_Employed_1 year                          0
Length_Employed_10+ years                       0
Length_Employed_2 years                         0
Length_Employed_3 years                         0
Length_Employed_4 years                         0
Length_Employed_5 years                         0
Length_Employed_6 years                         0
Length_Employed_7 years                         0
Length_Employed_8 years                         0
Length_Employed_9 years                         0
Length_Employed_nan                             0
dtype: int64

In [0]:
y_train = original_df["Interest_Rate"]

In [320]:
y_train

Loan_ID
10000001    1
10000002    3
10000003    3
10000004    3
10000005    1
           ..
10164305    2
10164306    2
10164307    1
10164308    3
10164309    2
Name: Interest_Rate, Length: 164309, dtype: int64

In [0]:
# A parameter grid for XGBoost
random_grid = {
        'booster' : ['gbtree','dart'],
        'n_estimators' : [300, 350, 500, 650, 800],
        'max_depth': [3, 4, 5, 6, 8, 10],
        'learning_rate' : [0.005, 0.01, 0.02, 0.03, 0.05, 0.07],
        'tree_method' : ['auto', 'exact', 'approx']
        }

In [322]:
scaled_features_df

          Loan_Amount_Requested  ...  Length_Employed_nan
Loan_ID                          ...
10000001               0.188406  ...                    0
10000002               0.855072  ...                    0
10000003               0.702174  ...                    0
10000004               0.449275  ...                    0
10000005               0.478261  ...                    0
...                         ...  ...                  ...
10164305               0.586232  ...                    0
10164306               0.159420  ...                    0
10164307               0.572464  ...                    0
10164308               0.275362  ...                    0
10164309               0.253623  ...                    0

[164309 rows x 47 columns]

In [0]:
# xgb = XGBClassifier()

# xgb_grid = GridSearchCV(estimator = xgb, param_grid = random_grid,
#                                 n_jobs=-1)
# # Fit the random search model
# xgb_grid.fit(X_train, y_train)

In [324]:
#import XGBoost classifier and accuracy

# learning_rate = xgb_grid.best_params_["learning_rate"]
# n_estimators = xgb_grid.best_params_["n_estimators"]
# max_depth = xgb_grid.best_params_["max_depth"]
# tree_method = xgb_grid.best_params_["tree_method"]
# booster = xgb_grid.best_params_["booster"]

learning_rate = 0.07
n_estimators = 1000
max_depth = 5
#instantiate model and train
model = XGBClassifier(learning_rate = learning_rate, n_estimators=n_estimators, max_depth=max_depth,
                       n_jobs=-1)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.07, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=-1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
predictions = model.predict(scaled_features_test_df)

In [0]:
output_df = pd.DataFrame({'Loan_ID': scaled_features_test_df.index, 'Interest_Rate': predictions})

In [0]:
output_df.to_csv("solution.csv", index=False)